.main-styled {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem;
  width: 100%;
  height: 100vh;
  color: #fff;
  background-color: #06092b;

  .logo-styled {
    width: 25rem;
    margin-bottom: 2rem;
  }

  .title-styled {
    font-size: 2.5rem;
  }

  .description-styled {
    font-size: 2rem;
    font-weight: 400;
  }

  .illustration-styled {
    margin-top: 3rem;
    width: min(30rem, 100%);
  }
}
